.register {
  height: 100vh;
  background-image: url(../../assets/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;

  .card {
    width: 50%;
    display: flex;
    flex-direction: row-reverse;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    border-radius: 20px;
    min-height: 600px;
    overflow: hidden;

    .left {
      flex: 1;
      background: linear-gradient(rgb(0, 191, 255), rgba(0, 174, 255, 0.5)),
        center;
      background-size: cover;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      color: white;

      h1 {
        font-size: 100px;
        line-height: 100px;
      }
      img {
        height: auto;
        width: 300px;
      }

      p {
      }

      span {
        font-size: 14px;
      }

      button {
        width: 50%;
        padding: 10px;
        border: none;
        background-color: white;
        border-radius: 10px;
        color: rgb(0, 225, 255);
        font-weight: bold;
        cursor: pointer;
      }
    }

    .right {
      flex: 10;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 50px;
      justify-content: center;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);

      h1 {
        color: #555;
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 8px;

        input {
          border: none;
          border-bottom: 1px solid lightgray;
          padding: 20px 10px;
        }

        .categories {
          max-width: 10px;
        }

        button {
          width: 50%;
          padding: 10px;
          border: none;
          background-color: #00d9ff;
          border-radius: 10px;
          color: white;
          font-weight: bold;
          cursor: pointer;
        }
      }
    }
  }
}
